# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
dist/
build/
.next/
out/

# Logs
logs/
*.log

# Bases de données locales
*.sqlite
*.db

# Système
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/